<div class="row p-0 m-0" style="width: 100%; height: 100vh; overflow: hidden;">
    <div class="col-12" style="position: relative; width: 100%; height: 100%;">
        <div class="toprightcircle"></div>
        <div class="toprightSecondcircle"></div>
        <div class="toprightThirdcircle"></div>
        <div class="bottomLeftCircle"></div>
        <div class="bottomLeftSecondCircle"></div>
        <div class="bottomLeftThirdCircle"></div>

        <div class="row p-0 m-0" style="width:100%">
            <div class="col-md-12 formContainer p-0 " >
                    <div class="insideCircle"></div>
                    <div class="insideSecondCircle"></div>
                    <div class="insideThirdCircle"></div>
                    <div class="col-12">
                        <ul style="display: flex; list-style: none; ">
                            <li>logo</li>
                            <li>Home</li>
                            <li>our products</li>
                            <li>About us</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-7 p-0 m-0" style="background-color: red; height: 100%;">
                        
                    </div>
                    <div class="col-5">

                    </div>
            </div>
        </div>

    </div>
</div>
